---
Language: Cpp
IndentWidth: 4
BreakBeforeBraces: Attach
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
SortIncludes: false
SortUsingDeclarations: false
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
DerivePointerAlignment: false
PointerAlignment: Left
Standard: Cpp11
TabWidth: 4
UseTab: Never
NamespaceIndentation: All
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
...
